$light-green: #b9e7e7;

.app {
  display: flex;
  justify-content: center;

  .container {
    width: 1024px;

    .link {
      text-decoration: none;
      color: inherit;
    }
    //LOGIN and REGISTER
    .auth {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 100vh;
      background-color: $light-green;
    }

    h1 {
      font-style: 20px;
      color: teal;
      margin-bottom: 20px;
    }

    form {
      display: flex;
      flex-direction: column;
      padding: 50px;
      background-color: white;
      width: 200px;
      gap: 20px;

      input {
        border: none;
        border-bottom: 1px solid gray;
        padding: 10px;
      }

      button {
        padding: 10px;
        background-color: teal;
        border: none;
        color: white;
        cursor: pointer;
      }

      span {
        font-style: 20px;
        text-align: center;
      }

      p {
        font-style: 20px;
        color: red;
        text-align: center;
      }
    }

    .navbar {
      .container {
        padding: 10px 0px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .logo {
          img {
            width: 120px;
          }
        }
        .links {
          display: flex;
          gap: 10px;
          align-items: center;

          h6 {
            font-style: 16px;
            font-weight: 300;
          }

          .span {
            cursor: pointer;
          }

          .write {
            background-color: $light-green;
            border-radius: 50%;
            height: 50px;
            width: 50px;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 4px;
            font-weight: 300;
            border: 1px solid white;

            &:hover {
              color: $light-green;
              background-color: white;
              border: 1px solid $light-green;
            }
          }
        }
      }
    }
  }
}
