$light-green: #b9e7e7;

.app {
  .container {
    //LOGIN and REGISTER
    .auth {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 100vh;
      background-color: $light-green;
    }

    h1 {
      font-style: 20px;
      color: teal;
      margin-bottom: 20px;
    }

    form {
      display: flex;
      flex-direction: column;
      padding: 50px;
      background-color: white;
      width: 200px;
      gap: 20px;

      input {
        border: none;
        border-bottom: 1px solid gray;
        padding: 10px;
      }

      button {
        padding: 10px;
        background-color: teal;
        border: none;
        color: white;
        cursor: pointer;
      }
    }
  }
}
